* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100vmin;
  height: 100vmin;
}

.game_canvas {
  height: 100%;
  image-rendering: pixelated;
}

.game_sound {
  position: absolute;
  border: none;
  background-color: transparent;
  margin: 0.5rem;
}

.game_sound img {
  max-width: 4rem;
  max-height: 4rem;
}

.loading-overlay {
  width: 100vmin;
  height: 100vmin;
  position: absolute;
}
