@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-console {
  color: white;
  font-weight: 400;
  font: 1.1rem 'Fira Mono', 'Courier New', monospace;
}

.font-console h1 {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}

.screen-overlay {
  width: 100%;
  height: 100%;
}

.drawing-canvas {
  object-fit: contain;
}
