@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mewlix-canvas {
  background-color: black;
}

.console-text {
  color: #fff;
  font: 1.1rem 'Fira Mono', 'Courier New', monospace;
}
