<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>untitled game | mewlix</title>
    <meta name="description" content="Mewlix-generated page.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.svg" type="image/x-icon">

    <link rel="preload" as="image" type="image/svg+xml" href="./core-assets/icons/play.svg">
    <link rel="preload" as="image" type="image/svg+xml" href="./core-assets/icons/pause.svg">
    <link rel="preload" as="image" type="image/svg+xml" href="./core-assets/icons/speaker.svg">
    <link rel="preload" as="image" type="image/svg+xml" href="./core-assets/icons/speaker-mute.svg">

    <script type="module">
      import run from './index.js';
      run();
    </script>
  </head>
  <body>
    <main id="container" class="container">
      <ul class="navigation">
        <li title="sound settings" class="navigation-item">
          <button id="game-sound" class="game-button"></button>
        </li>
        <li title="pause/play game" class="navigation-item">
          <button id="game-pause" class="game-button"></button>
        </li>
        <li title="take a screenshot" class="navigation-item">
          <button id="game-screenshot" class="game-button"></button>
        </li>
      </ul>
      <img
        id="loading-cat"
        src="./core-assets/loading-cat.png"
        alt="Pixel art of a cat with text that says 'loading'."
        class="contained" />
    </main>
  </body>
</html>
