<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mewlix - graphic</title>
    <meta name="description" content="Mewlix-generated page.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./style.css" rel="stylesheet">
    <link rel="icon" href="./favicon.svg" type="image/x-icon">

    <script type="module">
      import run from './index.js';
      run();
    </script>
  </head>
  <body>
    <main class="container">
      <canvas
        id="game-canvas"
        width="1024"
        height="1024"
        class="game-canvas">
        Game canvas. If you're seeing this, your browser does not support the canvas element!
      </canvas>
      <ul class="navigation">
        <li title="sound settings">
          <button id="game-sound"></button>
        </li>
        <li title="pause/play game">
          <button id="game-pause"></button>
        </li>
        <li title="take a screenshot">
          <button id="game-screenshot"></button>
        </li>
      </ul>
      <img
        id="loading"
        src="./core-assets/mewlix-load.png"
        alt="A pixel art animation of a cat with text that says 'Loading...'."
        class="loading">
    </main>
  </body>
</html>
