@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.font-console {
  color: white;
  font-weight: 400;
  font: 1.1rem 'Fira Mono', 'Courier New', monospace;
}

.font-console h1 {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: normal;
}

.white-button {
  opacity: 60%;
}

.white-button svg {
  color: white;
}

.white-button:hover {
  cursor: pointer;
  opacity: 100%;
  transition: 0.6s;
}

.translucent {
  opacity: 60%;
}

.hide {
  /* I'm using !important because:
   * 1. I want .hide to *always* hide elements, regardless of media queries.
   * 2. I want to keep media queries at the bottom of the file, for organization.
   *
   * The !important keyword solves all of these issues cleanly.
   *
   * Also, I've seen !important being used for .hide / .hidden classes before.
   * This is an utility class with a single purpose. It should always serve its purpose. */
  display: none !important; 
}

.screen-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
}

/* -----------------------------------------
 * Cat background:
 * ----------------------------------------- */
.cat-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./assets/cat-in-field-butterflies.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.styleless-link {
  text-decoration: none;
}

.image-credits {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  opacity: 60%;
  /* Invisible by default; only visible on larger screens. */
  display: none;
}

/* -----------------------------------------
 * Console:
 * ----------------------------------------- */
.console {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    ".              console-title   show-settings"
    "console-lines  console-lines   console-lines"
    "console-input  console-input   console-arrow";
  grid-template-rows: 3rem auto 5rem;
  grid-template-columns: 5rem auto 5rem;
  opacity: 90%;
  background-color: black;
}

.console__title {
  grid-area: console-title;
  text-align: center;
}

.console__content {
  grid-area: console-lines;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #121212;
  padding: 1rem 2rem;
  word-wrap: break-word;
}

.console__content ul {
  list-style: none;
}

.console__content li {
  display: block;
  margin-bottom: 1rem;
}

.console__prompt {
  margin-right: 0.3rem;
  font-weight: 700;
}

.console__settings {
  grid-area: show-settings;
}

.console__settings > svg {
  width: 80%;
  height: 80%;
}

.console__arrow {
  grid-area: console-arrow;
  background-color: inherit;
}

.console__arrow > svg {
  width: 60%;
  height: 60%;
}

.console__input {
  grid-area: console-input;
  border: none;
  padding: 1rem 2rem;
  overflow-x: hidden;
  resize: none;
  background-color: inherit;
}

.console__input:focus {
  outline: none;
}

.console__input--highlight:focus:enabled {
  background-color: white;
  color: black;
  transition: 1s;
}

/* -----------------------------------------
 * Settings:
 * ----------------------------------------- */
.settings {
  position: fixed;
  display: grid;
  grid-template-areas:
    "settings-header  settings-buttons"
    "settings-options settings-options";
  grid-template-columns: auto 5rem;
  grid-template-rows: 2rem auto;
  background-color: #1f1f1f;
  overflow: hidden;
  border-radius: 2rem;
  width: 90%;
  z-index: 20;
}

.settings__header {
  grid-area: settings-header;
}

.settings__exit {
  grid-area: settings-buttons;
}

.settings__exit > svg {
  width: 90%;
  height: 90%;
}

.settings__options {
  grid-area: settings-options;
  background-color: #262626;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.settings__options ul {
  list-style: none;
}

.settings__options li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 1px 3px 3px black;
  background-color: #1f1f1f;
  padding: 0.5rem;
  margin: 1rem 0.5rem;
}

.settings__options li > input {
  margin-left: 1rem;
  padding: 0.2rem;
  min-height: 1rem;
  min-width: 1rem;
}

.settings__options li > input[type='checkbox'] {
  height: 1.5rem;
  width: 1.5rem;
}

.settings__options li > input[type='range'] {
  max-width: 6rem;
}

.settings__options li > label {
  text-align: center;
}

/* -----------------------------------------
 * Media Queries:
 * ----------------------------------------- */
@media (min-width: 40rem) {
  .console {
    width: 80%;
    height: 80%;
    border-radius: 2rem;
    overflow: hidden;
  }

  .image-credits {
    display: block;
  }

  .settings {
    width: auto;
  }

  .settings__options {
    padding: 1rem 2rem;
  }
}
