@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.console-text {
  color: white;
  font: 1.1rem 'Fira Mono', 'Courier New', monospace;
}

.console-text h1 {
  font-size: 1.2rem;
  font-style: normal;
}

.console-icon svg {
  color: white;
}

.console-button {
  opacity: 60%;
}

.console-button:hover {
  cursor: pointer;
  opacity: 100%;
  transition: 0.2s;
}

.cat-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url('./assets/cat-in-field-butterflies.jpg');
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.styleless-link {
  text-decoration: none;
}

.image-credits {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: inline-block;
  opacity: 60%;
  /* Invisible by default; only visible on larger screens. */
  display: none;
}

.slight-fade {
  opacity: 60%;
}

.console {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
    "gear       title       todo"
    "content    content     content"
    "input-box  input-box   arrow-button";
  grid-template-rows: 3rem auto 5rem;
  grid-template-columns: 5rem auto 5rem;
  opacity: 90%;
  background-color: #000;
}

.console__title {
  grid-area: title;
}

.console__content {
  grid-area: content;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #121212;
  padding: 1rem 2rem;
  word-wrap: break-word;
}

.console__content ul {
  list-style: none;
}

.console__content li {
  display: block;
  margin-bottom: 1rem;
}

.console__input {
  grid-area: input-box;
  width: 100%;
  height: 100%;
  border: none;
  padding: 1rem 2rem;
  overflow-x: hidden;
  resize: none;
  background-color: inherit;
}

.console__arrow {
  grid-area: arrow-button;
  background-color: inherit;
}

.console__arrow > svg {
  width: 60%;
  height: 60%;
}

.console__input:focus {
  outline: none;
}

.console__input:hover:enabled,
.console__input:focus:enabled {
  /* to do! */
}

@media (min-width: 40rem) {
  .console {
    width: 80%;
    height: 80%;
    border-radius: 2rem;
    overflow: hidden;
  }

  .image-credits {
    display: block;
  }
}
