<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>mewlix - console</title>
    <meta name="description" content="Mewlix-generated page.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="./style.css" rel="stylesheet">
    <link rel="icon" href="./favicon.svg" type="image/x-icon">

    <script type="module">
      import run from './index.js';
      run();
    </script>
  </head>
  <body class="center-items">

    <!-- Console Window -->
    <main id="console" class="console">
      <h1 class="console-text center-items console-title">
        <span id="project-status" class="preserve-space">loading...</span>
        <span id="project-name" class="preserve-space translucent hide">untitled</span>
      </h1>
      <ul id="console-lines" class="console-text undecorated-list console-lines"></ul>
      <textarea
          id="console-input"
          name="textarea"
          placeholder="Enter input here..."
          class="console-text console-input"
          disabled></textarea>
      <button id="console-file" class="clickable white-button center-items console-file" disabled>
        <svg width="16" height="16" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1068">
            <path d="m10.627 1.0888h-8.2973v13.822h11.341v-11.826z"/>
            <path d="m10.627 1.0888v3.0304l3.0436-1.0343"/>
          </g>
        </svg>
      </button>
      <input
        type="file"
          class="hide"
          accept=".txt"
          id="file-input"
          name="file-input"
          disabled>
      <button id="console-arrow" class="clickable white-button center-items console-arrow" disabled>
        <svg width="16" height="16" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <g transform="matrix(1.4738 0 0 1.4098 -3.2684 -.31964)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1px">
            <path d="m3.117 9.5183h6.8052v-7.2341"/>
            <path d="m7.6132 4.9701 2.309-2.6859 2.2523 2.6859"/>
          </g>
        </svg>
      </button>
      <button id="show-settings" class="clickable white-button center-items console-settings">
        <svg width="16" height="16" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <g transform="translate(-.019263 .040135)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="1.9197">
            <path d="m1.9213 3.9599h12.157"/>
            <path d="m1.9599 7.9599h12.157"/>
            <path d="m1.9599 11.96h12.157"/>
          </g>
        </svg>
      </button>
    </main>

    <aside id="settings" class="settings hide">
      <h1 class="console-text center-items translucent settings-title">mewlix v1.0</h1>
      <button id="hide-settings" class="clickable white-button center-items settings-exit">
        <svg width="16" height="16" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2">
            <path d="m1.9951 14.005 12.01-12.01"/>
            <path d="m14.005 14.005-12.01-12.01"/>
          </g>
        </svg>
      </button>
      <ul class="console-text undecorated-list settings-options">
        <li class="settings-option">
          <label for="select-color">Prompt color:</label>
          <input type="color" value="#f6d52d" name="select-color" id="select-color">
        </li>
        <li class="settings-option">
          <label for="select-error-color">Error color:</label>
          <input type="color" value="#ff214e" name="select-error-color" id="select-error-color">
        </li>
        <li class="settings-option">
          <label for="show-highlight">Highlight input:</label>
          <input type="checkbox" name="show-highlight" id="show-highlight">
        </li>
        <li class="center-items settings-savelog">
          <button id="save-log" class="clickable console-text">Save Logs</button>
        </li>
      </ul>
    </aside>
  </body>
</html>
